#milstd {
    background-color: black;
    width: 100%;
    position: relative;
}

#milstd h2.msiText {
    margin-bottom: 16px;
}

#milstd .milstd-hr {
    width: 100%;
    height: 2px;
    background-image: url("../../../images/gbg.png");
    background-size: 200%;
    background-position: left top;
}

#milstd .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #000000;
    color: white;
    padding: 8vh 12vw;
    z-index: 6;
    position: relative;
}

#milstd .content .citem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 28vw;
}

#milstd .citem-icon {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
    margin-right: 60px;
}

#milstd .citem-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#milstd .learnmore {
    margin-left: 20px;
    display: inline-block;
    border: 1px solid white;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6em;
}

#milstd a.learnmore {
    color: white;
    text-decoration: none;
}

@media (max-width: 1920px) {
    #milstd {
        padding: 2px;
    }
    #milstd .content .citem {
        width: 30vw;
    }
    #milstd .citem-icon {
        -ms-flex-preferred-size: 140px;
        flex-basis: 140px;
        margin-right: 40px;
    }
    #milstd .learnmore {
        margin-left: 20px;
        display: inline-block;
        border: 1px solid white;
        padding: 5px 15px;
        font-weight: bold;
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    #milstd .content {
        padding: 5vh 10vw;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    #milstd .content .citem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 34vw;
        text-align: center;
    }
    #milstd .citem-icon {
        -ms-flex-preferred-size: 130px;
        flex-basis: 130px;
        margin-right: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #milstd .citem-icon.mil img,
    #milstd .citem-icon.ser img {
        width: 35%;
    }
    #milstd .citem-content {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    #milstd .learnmore {
        margin-left: 0px;
        margin-top: 20px;
        display: block;
        border: 1px solid white;
        padding: 5px 15px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.6em;
    }
}

@media (max-width: 768px) {
    #milstd .content {
        padding: 3vh 5vw 5vh 5vw;
    }
    #milstd .content .citem {
        width: 40vw;
    }
}

@media (max-width: 600px) {
    #milstd .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5vh 10vw;
    }
    #milstd .content .citem {
        width: 100%;
    }
    #milstd .content .citem:first-child {
        width: 100%;
        margin-bottom: 50px;
    }
    #milstd .citem-icon {
        -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
        margin-bottom: 20px;
    }
    #milstd .citem-icon.mil img,
    #milstd .citem-icon.ser img {
        width: 30%;
    }
}