.cnc {
    width: 100%;
    background-color: black;
    position: relative;
    padding-bottom: 80px;
    z-index: 0;
    color: #fff;
}

.cnc-content {
    width: 100%;
    padding: 2.4vw 25vw 0;
    /*position: absolute;*/
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}


/* 2021-02-05 modify -- start */

.cncvideoblock {
    position: relative;
}

.cncvideopre {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}


/* 2021-02-05 modify -- end */

.cncvideolast {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    width: 100%;
}

#cncvideo {
    width: 100%;
}

.cnc .vd-container {
    width: 70%;
    margin: 0 auto;
}

.cncvideo::before {
    display: block;
    content: "";
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    position: absolute;
    z-index: 2;
}

.cnc video {
    position: relative;
    z-index: 1;
    margin-top: -10%;
}

.cnc-icon {
    margin-bottom: 35px;
}

.cnc-icon img {
    width: 4vw;
}

.embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cncAnimation {
    width: 100%;
    /* height: 100%;*/
    text-align: center;
}

.cncAnimation img {
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 1536px) {
    .cnc .vd-container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 1200px) {
    .cnc video {
        margin-top: 0;
    }
    .cnc-icon img {
        width: 60px;
    }
    .cnc-content {
        padding: 2.4vw 12.5vw 0;
    }
}

@media (max-width: 900px) {
    .cnc video {
        width: 120%;
        margin-left: -10%;
    }
    .cnc-content {
        padding: 2.4vw 5vw 0;
    }
    .cnc .vd-container {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .cnc-content {
        position: relative;
    }
    .cnc video {
        width: 140%;
        margin-top: -35%;
        margin-left: -20%;
    }
}