#connect {
    padding-top: 5vh;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 100px;
}

#connect h2.msiText {
    margin-bottom: 40px;
}

#connect .notebook-port.parallel {
    position: relative;
    width: 100%;
    height: calc(23vw + 30px);
    background-image: url('../../../images/io.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 70px;
}

#connect .np-item {
    color: #F1D5A2;
    position: absolute;
    font-size: 24px;
    height: 4.5vw;
    display: flex;
    justify-content: center;
}

#connect .notebook-port.seperatet,
#connect .notebook-port.seperateb {
    display: none;
}

.np-webcamlock {
    width: 14vw;
    left: 8vw;
    top: 0;
    align-items: flex-end;
}

.np-cardreader {
    width: 16vw;
    left: 23vw;
    top: 0;
    align-items: flex-end;
}

.np-usb32c {
    width: 15vw;
    left: 15.58vw;
    bottom: 0;
    align-items: flex-start;
}

.np-audiojack {
    width: 15vw;
    left: 31.95vw;
    bottom: 0;
    align-items: flex-start;
}

.np-usb4c {
    width: 36vw;
    right: 8.25vw;
    top: 0;
    align-items: flex-end;
}

.np-usb32a {
    width: 15vw;
    right: 31.45vw;
    bottom: 0;
    align-items: flex-start;
}

#connect .connect-outline {
    background-image: url('../../../images/gbg.png');
    background-size: 200%;
    width: 80vw;
    padding: 2px;
    opacity: 1;
    z-index: 1;
    background-position: 100% 100%;
    animation-fill-mode: forwards;
    margin: 35px auto 0;
    position: relative;
}

#connect .connect-outline::after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: black;
    top: 1px;
    left: 1px;
    z-index: 5;
}

#connect .connect-block {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #060606;
    padding: 70px 35px;
    text-align: left;
    opacity: 0;
    position: relative;
    z-index: 10;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#connect .connect-block-item {
    display: flex;
    flex: 1;
    margin: 0 35px;
}

#connect .connect-block-item-icon {
    margin-right: 80px;
    flex-shrink: 0;
}

#connect .pcie img {
    width: 140px;
}

#connect .thunderbolt img {
    width: 135px;
}

#connect .connect-block-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#connect .data-num-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    font-family: 'CenturyGothic';
}

#connect .data-num {
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    white-space: nowrap;
}

#connect .data-num .hlfont {
    display: inline-block;
    font-family: mojito, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    background: -webkit-linear-gradient(90deg, rgba(217, 172, 122, 1) 0%, rgba(157, 110, 69, 1) 50%, rgba(217, 172, 122, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 35px;
}

#connect p.msiText span {
    color: #A3A3A3;
    margin-top: 20px;
    line-height: 1.5em;
}

#connect .otherFeatures {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#connect .otherFeatures__item {
    width: 22%;
    margin: 0 50px;
    /*background: #ff0000;*/
}

#connect .otherFeatures__item h2 {
    min-height: 72px;
    margin-bottom: 20px;
}

#connect .otherFeatures__item--icon {
    width: 38%;
    margin: 0 auto;
}

@media(max-width: 1920px) {
    #connect .notebook-port {
        height: calc(23vw + 20px);
    }
    #connect .np-item {
        font-size: 16px;
    }
    #connect .connect-outline {
        padding-top: 1px;
    }
    #connect .wifi6e img {
        width: 78px;
    }
    #connect .pcie img {
        width: 95px;
    }
    #connect .thunderbolt img {
        width: 90px;
    }
    #connect .connect-block-item-icon {
        margin-right: 40px;
    }
    #connect .otherFeatures__item h2 {
        min-height: 40px;
        margin-bottom: 20px;
    }
}

@media(max-width: 1200px) {
    #connect .np-item {
        font-size: 14px;
    }
    #connect .connect-block {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #060606;
        padding: 50px 25px;
        text-align: left;
    }
    #connect .connect-block-item {
        margin-top: 50px;
    }
    #connect .connect-block-item:first-child {
        margin-top: 0px;
    }
    #connect .otherFeatures {
        flex-wrap: wrap;
    }
    #connect .otherFeatures__item {
        width: 33%;
        margin: 40px;
    }
}

@media(max-width: 800px) {
    #connect .np-item {
        font-size: 12px;
    }
    #connect h2.msiText {
        margin-bottom: 60px;
    }
    #connect .notebook-port.seperatet {
        display: block;
        margin-top: 30px;
        position: relative;
        width: 100%;
        height: calc(28.6vw + 20px);
        background-image: url('../../../images/connectseperate_top_n.png');
        background-size: 180%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 70px;
    }
    #connect .notebook-port.seperateb {
        display: block;
        position: relative;
        width: 100%;
        height: calc(28.62vw + 20px);
        background-image: url('../../../images/connectseperate_bottom.png');
        background-size: 180%;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 70px;
    }
    #connect .notebook-port.parallel {
        display: none;
    }
    .np-webcamlock {
        width: 20vw;
        left: 30vw;
        top: 0;
        align-items: flex-end;
    }
    .np-cardreader {
        width: 27.5vw;
        left: 52vw;
        top: 0;
        align-items: flex-end;
    }
    .np-usb32c {
        width: 35vw;
        left: 27vw;
        bottom: 0;
        align-items: flex-start;
    }
    .np-audiojack {
        width: 35vw;
        left: 60vw;
        bottom: 0;
        align-items: flex-start;
    }
    .np-usb4c {
        width: 63.24vw;
        right: 26.76vw;
        top: 0;
        align-items: flex-end;
    }
    .np-usb32a {
        width: 27.7vw;
        right: 62.1vw;
        bottom: 0;
        align-items: flex-start;
    }
    #connect .otherFeatures {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #connect .otherFeatures__item {
        width: 75%;
        margin: 40px 0;
    }
    #connect .otherFeatures__item h2 {
        margin-bottom: 20px;
    }
    #connect .otherFeatures__item--icon {
        width: 100px;
    }
}

@media(max-width: 600px) {
    #connect .connect-block-item-icon {
        margin-bottom: 20px;
    }
    #connect .connect-block-item {
        flex-direction: column;
    }
    #connect .connect-block {
        padding: 40px 10px;
    }
}